.header {
  padding-bottom: 30px;
  width: 200px;
  height: 80px;
}

.head {
  color: white;
  padding-left: 30px;
}

.ant-layout {
  height: 100%;
}

.layout-content {
  overflow-y: auto;
}

.ant-layout-header {
  padding: 0 !important;
}